body{
    background: rgb(63,94,251);
     background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
    margin: 64px 0 0 0;
}

h1{
    text-align: center;
    color: white;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
canvas{
    border: solid 8px white;
    border-radius: 20px;
    background: linear-gradient(
        8deg, rgba(0, 102, 204, 1.0) 0%,
        rgba(125, 60, 152, 1.0) 100%
    );
}

